# Usada para Gemini
# Esta variable de entorno debe llamarse así porque Python busca este nombre para cargarlo.
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY

# Usada para OpenAI
# Esta variable de entorno debe llamarse así porque Python busca este nombre para cargarlo.
OPENAI_API_KEY=YOUR_OPENAI_API_KEY

# Usada para Google Sheets
GOOGLE_SPREADSHEET_API_KEY=YOUR_GOOGLE_SHEETS_API_KEY

# Google Spreadsheet Configuration (Proyecto 12)
SPREADSHEET_ID=YOUR_SPREADSHEET_ID
SHEET_NAME=Sheet1

# Private Google Sheet (Proyecto 13)
SPREADSHEET_PRIVATE_ID=YOUR_SPREADSHEET_PRIVATE_ID
SHEET_PRIVATE_NAME=Sheet1
SERVICE_ACCOUNT_FILE=YOUR_SERVICE_ACCOUNT_FILE

# Configuración Email (Proyecto 12)
SENDER_EMAIL=SENDER_EMAIL
SENDER_PASSWORD=SENDER_PASSWORD
RECIPIENT_EMAIL=RECEIVER_EMAIL

OPENWEATHER_API_KEY=YOUR_OPENWEATHER_API_KEY
POSTGRESQL_DB_URI=postgresql://<user>:<password>@<ip>:<port>/weather

# Configuración Tavily (Proyecto 20)
TAVILY_API_KEY=YOUR_TAVILY_API_KEY